.input-group {
  display: flex;
  justify-content: flex-start;
  margin-bottom: $m-size;
  flex-direction: column;

  @media (min-width: $desktop-break) {
    flex-direction: row;
    margin-bottom: $l-size;
  }
  &__item {
    margin-bottom: $s-size;
    @media (min-width: $desktop-break) {
      margin: 0;
      margin-right: $s-size;
    }
  }

  
}