
* {
  // margin: 0;
  // padding: 0px;
  box-sizing: inherit;
  
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  box-sizing: border-box;
  font-size: $m-size;
  font-family: Lato, Helvetica,Arial, sans-serif;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
  
}